interactions:
- request:
    body: null
    headers:
      Authorization:
      - token any_token
    method: GET
    uri: https://api.github.com/repos/heitorpolidoro/github_actions_utils
  response:
    body:
      string: '{"id":645801641,"node_id":"R_kgDOJn4mqQ","name":"github_actions_utils","full_name":"heitorpolidoro/github_actions_utils","private":false,"owner":{"login":"heitorpolidoro","id":14806300,"node_id":"MDQ6VXNlcjE0ODA2MzAw","avatar_url":"https://avatars.githubusercontent.com/u/14806300?v=4","gravatar_id":"","url":"https://api.github.com/users/heitorpolidoro","html_url":"https://github.com/heitorpolidoro","followers_url":"https://api.github.com/users/heitorpolidoro/followers","following_url":"https://api.github.com/users/heitorpolidoro/following{/other_user}","gists_url":"https://api.github.com/users/heitorpolidoro/gists{/gist_id}","starred_url":"https://api.github.com/users/heitorpolidoro/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/heitorpolidoro/subscriptions","organizations_url":"https://api.github.com/users/heitorpolidoro/orgs","repos_url":"https://api.github.com/users/heitorpolidoro/repos","events_url":"https://api.github.com/users/heitorpolidoro/events{/privacy}","received_events_url":"https://api.github.com/users/heitorpolidoro/received_events","type":"User","site_admin":false},"html_url":"https://github.com/heitorpolidoro/github_actions_utils","description":null,"fork":false,"url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils","forks_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/forks","keys_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/keys{/key_id}","collaborators_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/teams","hooks_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/hooks","issue_events_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/issues/events{/number}","events_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/events","assignees_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/assignees{/user}","branches_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/branches{/branch}","tags_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/tags","blobs_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/git/refs{/sha}","trees_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/git/trees{/sha}","statuses_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/statuses/{sha}","languages_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/languages","stargazers_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/stargazers","contributors_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/contributors","subscribers_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/subscribers","subscription_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/subscription","commits_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/commits{/sha}","git_commits_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/git/commits{/sha}","comments_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/comments{/number}","issue_comment_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/issues/comments{/number}","contents_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/contents/{+path}","compare_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/compare/{base}...{head}","merges_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/merges","archive_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/downloads","issues_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/issues{/number}","pulls_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/pulls{/number}","milestones_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/milestones{/number}","notifications_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/labels{/name}","releases_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/releases{/id}","deployments_url":"https://api.github.com/repos/heitorpolidoro/github_actions_utils/deployments","created_at":"2023-05-26T13:16:48Z","updated_at":"2023-09-12T19:23:53Z","pushed_at":"2023-11-09T22:12:41Z","git_url":"git://github.com/heitorpolidoro/github_actions_utils.git","ssh_url":"git@github.com:heitorpolidoro/github_actions_utils.git","clone_url":"https://github.com/heitorpolidoro/github_actions_utils.git","svn_url":"https://github.com/heitorpolidoro/github_actions_utils","homepage":null,"size":21,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":true,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":true,"topics":[],"visibility":"public","forks":0,"open_issues":4,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":true,"delete_branch_on_merge":true,"allow_update_branch":true,"use_squash_pr_title_as_default":true,"squash_merge_commit_message":"BLANK","squash_merge_commit_title":"PR_TITLE","merge_commit_message":"BLANK","merge_commit_title":"PR_TITLE","security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"enabled"},"dependabot_security_updates":{"status":"enabled"}},"network_count":0,"subscribers_count":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6f2c37509c00202c19786f72b0e5c3470d64afc2f72bf0833ab202b11fa12e5"
      Last-Modified:
      - Tue, 12 Sep 2023 19:23:53 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages,
        delete_repo, gist, notifications, project, repo, user, workflow, write:discussion,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1700008743'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
